.card{
    background-color: #FFFF;
    position: relative;
    z-index: 1;
    width: 900px;
    height: 200px;
    left: 23rem;
    border-radius: 8px;

    -webkit-box-shadow: 13px 13px 21px 0px rgba(0,0,0,0.57);
    -moz-box-shadow: 13px 13px 21px 0px rgba(0,0,0,0.57);
    box-shadow: 13px 13px 21px 0px rgba(0,0,0,0.57);
}

.card h3{
    padding-left: 6rem ;
    padding-top: 3rem ;
    font-size: 3rem;
    font-weight: bolder;
}

.input{
    height: 45px;
    margin-top: 3rem;
    margin-left: 6rem;
    width: 600px;
    border-radius: 5px;
    border: 1px solid ;
    font-size: 2rem;
    padding-left: 2rem;
    margin-right: 3rem;
}

/* Search button  */

.check_pushable {
    position: relative;
    border: none;
    background: transparent;
    cursor: pointer;
    outline-offset: 4px;
    touch-action: manipulation;
  }
  
  .check_shadow { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5%;
    background: rgba(0, 0, 0, 0.308);
    will-change: transform;
    transform: translateY(3px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  
  .check_edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5%;
    background: linear-gradient(
      to left,
      #fb0054de 0%,
      #f80053de 8%,
      #ff0156dc 92%,
      #f60253d5 100%
    );
  }
  
  .check_front {  
    display: block;
    position: relative;
    padding: 5px;
    border-radius: 5%;
    color: white;
    background: rgba(255, 69, 69, 0.87);
    will-change: transform;
    transform: translateY(-2px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  

  .check_pushable:hover .check_front {
    transform: translateY(-4px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  

  .check_pushable:active .check_front { 
    transform: translateY(-2px);
    transition: transform 34ms;
  }

  span.text{
        font-size: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
  }
  

  .check_pushable:hover .check_shadow {
    transform: translateY(4px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  
  .check_pushable:active .check_shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }
  @media screen and (max-width:767px){
      
  .card{
    width: 260px;
    height: 180px;
    left: 5rem;
    top: -33rem;
  }
  button{
    top: 1.5rem;
    left: 8.5rem;
  }
  h3{
    font-size: 2rem !important;
    padding-left: 3rem !important;
    padding-top: 2rem !important;
  }
  
  input.input{
    margin-top: 2rem;
    margin-left: 2rem;
    width: 220px;
  }
  .check-pushable {
    margin-top: 1.5rem;
    margin-left: 8.5rem;
  }
  
    span.text{
        font-size: 1.5rem; 
    }
  }  

  @media screen and (min-width: 767px) and (max-width:1139px) {
    .card{
      background-color: #FFFF;
      width: 700px;
      height: 200px;
      left: 20rem;
  }
  .input{
    height: 45px;
    margin-top: 3rem;
    margin-left: 6rem;
    width: 400px;
    border-radius: 5px;
    border: 1px solid ;
    font-size: 2rem;
    padding-left: 2rem;
    margin-right: 3rem;
}
  }